
<!doctype html>
<html>
  <head>
    <title>axios - get example</title>
  </head>
  <body class="container">
    <iframe id="service-a" src="hello.html" style="border: 2px solid blue;"></iframe>
    <iframe id="service-b" src="hello.html" style="border: 2px solid blue;"></iframe>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        document.getElementById("service-a").src = 'https://master-service-a.foo.devops-wizard.com/serve_app';
        document.getElementById("service-a").src = 'https://master-service-b.foo.devops-wizard.com/serve_app';
    </script>
  </body>
</html>
